<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Nuworkplay" %></title>
  <%= stylesheet_link_tag :site %>
  <%= javascript_include_tag :all, :'jquery.slides.min' %>
  <script src="https://use.fontawesome.com/6b450b718f.js"></script>
  <link href="https://fonts.googleapis.com/css?family=BioRhyme:300|Space+Mono" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <div class="landing-footer">
    <%= partial "footer" %>
  </div>
  <%= javascript_include_tag :segment_tracking %>
</body>
</html>
