<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <link rel="canonical" href="https://www.nuworkplay.com" />
   <!-- markup meta link for Favicon on non iOS devices -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
  <link rel="shortcut icon" href="favicon.png" />
  <link rel="icon" type="image/ico" href="favicon.ico" />
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Nuworkplay" %></title>
  <%= stylesheet_link_tag :site %>
  <%= javascript_include_tag :all, :'jquery.slides.min' %>
  <script src="https://use.fontawesome.com/6b450b718f.js"></script>
  <link href="https://fonts.googleapis.com/css?family=BioRhyme:300|Space+Mono" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <div class="landing-footer">
    <%= partial "footer" %>
  </div>
  <%= javascript_include_tag :segment_tracking %>
</body>
</html>
