<div class="grid-items-lines">
  <div class="grid-item">
    <%= image_tag 'Living.png' %>
    <h2>Living</h2>
    <ul>
          <% data.living.benefits.each do |benefit| %>
          <li>
            <p> <%= benefit %></p>
          </li>
          <% end %>
        </ul>
  </div>
  <div class="grid-item">
    <%= image_tag 'Working.png' %>
    <h2>Working</h2>
        <ul>
          <% data.working.benefits.each do |benefit| %>
          <li>
            <p> <%= benefit %></p>
          </li>
          <% end %>
        </ul>
  </div>
  <div class="grid-item">
    <%= image_tag 'Playing.png' %>
    <h2>Playing</h2>
        <ul>
          <% data.playing.benefits.each do |benefit| %>
          <li>
            <p> <%= benefit %></p>
          </li>
          <% end %>
        </ul>
  </div>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
