<div id="slides">
  <%= image_tag 'Aljezur.jpg' %>
  <%= image_tag 'Sardines.jpg' %>
  <%= image_tag 'Lisboabridge.jpg' %>
  <%= image_tag 'AzenhasDoMar.jpg' %>
  <%= image_tag 'Lifegards.jpeg' %>
  <%= image_tag 'Teamwatching.jpg' %>
  <%= image_tag 'Anjos.jpg' %>
</div>
