---
title: Company retreat | Startups | Bootcamp | Design Sprint | Portugal | Lisbon | Nuworkplay
---
<div class="landing">
  <div class="backgrounds">
    <div class="hero-bcg"></div>
  </div>
  <div class="outer-wrap">
    <div class="logo">
      <%= image_tag 'LogoNWP.png' %>
    </div>
    <div class="inner-wrap neat-center">
      <div class="wrap">
        <h1 class="title">PULL OFF YOUR STARTUP RETREATS</h1>
        <hr class="horiz1">
        <p>Bring new soul to your team, unleash efficient work & play experience in genuine Portugal</p>
      </div>
    </div>
  </div>
  <div class="cta-form neat-center">
    <%= partial "modal" %>
  </div>
</div>

<div class="post-landing">
  <div class="content-wrap1">
    <div class="content-value neat-center">
      <h2>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h2>
    </div>
  </div>
  <div class="content-wrap2">
    <div class="content-icons neat-center">
      <%= partial "icons" %>
    </div>
  </div>
</div>

<div class="pitch-wrap">
  <div class="pitch-content neat-center">
    <p>SEND YOUR TEAM GO SURFING, BBQ, PLAY A GAME OR WORKOUT</p>
    <h2>GET YOUR MVP, DEMO OR PRODUCT TESTING DONE</h2>
  </div>
</div>
<div class="getintouch-wrap">
  <h4>Contact us for your next startup retreat</h4>
  <%= partial "getintouch" %>
</div>
<div class="slides-wrap">
  <div class="band-wrapper neat-center">
    <%= partial "slides" %>
  </div>
</div>

