---
title: Nuworkplay
---
<div class="backgrounds" id="slider">
	<div class="hero-bcg desaturate"></div>
</div>
<div class="outer-wrap landing">
	<div class="logo">
		<%= image_tag 'LogoNWP.png' %>
	</div>
	<div class="inner-wrap">
		<div class="wrap">
			<h1 class="title">PULL OFF YOUR STARTUP RETREATS</h1>
			<p>Bring new soul to your team, unleash efficient work & play experience in genuine Portugal</p>
		</div>
	</div>
</div>


<div class="cta-form">
	<%= partial "modal" %>
</div>

<!-- <div id="cb01" class="content-pitch">
				<div class="grid-center">
						<h1>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h1>
						<p>Nuworkplay builds inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal</p>
				</div>
</div>

<div class="feat-header">
	<div class="feat-bcg"></div>
	<div class="feat-bullets grid-center">
		<p>SEND YOUR TEAM GO SURFING, BBQ, PLAY A GAME OR WORKOUT</p>
		<h1>BUT GET THE BUSINESS PURPOSE DONE</h1>
		<%= partial "icons" %>
	</div>
</div> --> -->

<!-- <div class="main-container">

		<article id="cb01" class="content-block">
				<div class="wrapper">
						<header class="grid-center">
								<h1>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h1>
								<p>Nuworkplay builds inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal</p>
						</header>
				</div> <!-- .wrapper -->
		<!-- </article>

		<article id="slide01" class="slide fs">
				<div class="bcg"></div>
				<div class="wrapper features grid-center">
					<p>SEND YOUR TEAM GO SURFING, BBQ, PLAY A GAME OR WORKOUT</p>
					<h1>BUT GET THE BUSINESS PURPOSE DONE</h1>
					<%= partial "icons" %>
				</div>
		</article>


		<article id="cb02" class="content-block">
			<div class="wrapper grid-center">
				<%= partial "getintouch" %>
			</div> <!-- .wrapper -->
		<!-- </article> -->

<!-- </div> -->
