---
title: Nuworkplay
---
<div class="landing">
  <div class="backgrounds">
    <div class="hero-bcg desaturate"></div>
  </div>
  <div class="outer-wrap">
    <div class="logo">
      <%= image_tag 'LogoNWP.png' %>
    </div>
    <div class="inner-wrap neat-center">
      <div class="wrap">
        <h1 class="title">PULL OFF YOUR STARTUP RETREATS</h1>
        <hr class="horiz1">
        <p>Bring new soul to your team, unleash efficient work & play experience in genuine Portugal</p>
      </div>
    </div>
  </div>
  <div class="cta-form neat-center">
    <%= partial "modal" %>
  </div>
</div>

<div class="post-landing">
  <div class="content-wrap1">
    <div class="content-value neat-center">
      <h2>Perfect culture and business match for your 2017 team's labs, design sprints, hackathons or bootcamps</h2>
    </div>
  </div>
  <div class="content-wrap2">
    <div class="content-icons neat-center">
      <%= partial "icons" %>
    </div>
  </div>


  <div class="getouch-wrap">
    <div class="getouch-content neat-center">
      <p>SEND YOUR TEAM GO SURFING, BBQ, PLAY A GAME OR WORKOUT</p>
      <h2>BUT GET YOUR MVP, DEMO OR PRODUCT TESTING DONE</h2>
    </div>
    <div class="getintouch-wrap">
      <h3>Contact us for your next startup retreat</h3>
      <%= partial "getintouch" %>
    </div>
  </div>
</div>
<div class="landing-footer">
  <%= partial "footer" %>
</div>





<!-- </div> About NWP-->
<!-- <p>Nuworkplay builds inspiring working spaces, experiences and outdoors activities few miles away from iconic Lisbon's beaches in Portugal</p> -->
